	* {
	    margin: 0px;
	    padding: 0px;
	}
	
	body {
	    -ms-overflow-x: hidden;
        font-family: 'Open Sans', sans-serif;
	}
	
	html,
	body,
	header{
	    height: 100%;
	}
	
	div,
	input,
	textarea {
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}

    ::-webkit-input-placeholder {
        color: white;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: white;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: white;  
    }

    :-ms-input-placeholder {  
       color: white;  
    }
	
	header {
	    background-image: url('img/landing-page-outsoft-2.jpg');
	    background-size: cover;
        position: relative;
	}
    header:after{
        content: '';
        position: absolute;
        right: 0px;
        top: 0px;
        height: 100%;
        width: 50%;
        background-color: rgba(0,169,181, 0.7);
        z-index: 1;
    }

    .logo{
        width: 250px;
        margin-top: 30px;

    }
    .content{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
    }
	
	header .content + .content{
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    -moz-transform: translate(-50%, -50%);
	    -o-transform: translate(-50%, -50%);
	    -webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	    
        z-index: 2;
	}

    header .content > div{
	    width: 50%;
        float: left;
        text-align: center;
        position: relative;
	}

.buttomBlock{
    position: absolute;
    width: 100%;
    color: white;
    bottom: 40px;
}
.buttomBlock h1{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 400;
}
.buttomBlock h1 span{
    font-size: 35px;
    font-weight: 600;
}

    .triangleblock{
        overflow: hidden;
    }

    .triangleblock .content > div{
        width: 33.33%;
        float: left;
        position: relative;
        height: 500px;
    }
    .triangleblock .content > div h2{
        position: absolute;
        top: 52%;
        width: 320px;
        left: 50%;
        padding-left: 80px;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 500;
        box-sizing: border-box;
    }
    .triangleblock .content > div img{
        width: 320px;
        margin: 100px auto;
        display: block;
    }
    .imgOverlay{
        width: 320px;
        margin: 0 auto;
        position: relative;
    }
    .triangleblock .content > div:nth-child(1) .imgOverlay:before{
        content: '01';
        position: absolute;
        left: 15%;
        font-size: 40px;
        color: white;
        font-weight: bold;
        top: 47%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);

    }
    .triangleblock .content > div:nth-child(2) .imgOverlay:before{
        content: '02';
        position: absolute;
        left: 15%;
        font-size: 40px;
        color: white;
        font-weight: bold;
        top: 47%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);

    }
    .triangleblock .content > div:nth-child(3) .imgOverlay:before{
        content: '03';
        position: absolute;
        left: 15%;
        font-size: 40px;
        color: white;
        font-weight: bold;
        top: 47%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);

    }
.triangleblock .content > div:hover:before {
    content: '';
    position: absolute;
    left: 0px;
    font-size: 40px;
    color: white;
    font-weight: bold;
    top: 0px !important;
    transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
.hoverBlock h3{
    -webkit-transform: translateY(60%);
    -ms-transform: translateY(60%);
    transform: translateY(60%);
    font-size: 24px;
    margin-bottom: 20px;
}
.hoverBlock p {
    -webkit-transform: translateY(30%);
    -ms-transform: translateY(30%);
    transform: translateY(30%);
    font-size: 15px;
}
.triangleblock .content > div:hover .hoverBlock p, .triangleblock .content > div:hover .hoverBlock h3 {
    -webkit-transition: all 0.27s ease-in-out;
    transition: all 0.27s ease-in-out;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}

.triangleblock .content > div:hover .circleblock{
    display: none;
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
 -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
    .circleblock{
        position: absolute;
        right: 0px;
        top: 50%;
    }
    .circleblock p{
        position: relative;
        width: 10px;
        height: 10px;
        background-color: #00adb9;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        display: block;
    }
    .circleblock p:after{
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        right: -15px;
        top: 2px;
        background-color: #00adb9;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }	
    .circleblock p:before{
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        left: -15px;
        top: 2px;
        background-color: #00adb9;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }
    .fourBlocks{
        overflow: hidden;
        text-align: center;
    }
    .fourBlocks .content > div{
        width: 50%;
        float: left;
        padding: 100px;
        position: relative;
        text-align: center;
        background-size: cover !important;
        background-position: center top;
        background-color: #f7f8f9;
    }
    .fourBlocks .content{
        max-width: 2000px;
    }
    .fourBlocks .content > div h2{
        font-size: 30px;
        margin-bottom: 40px;
        position: relative;
    }
    .fourBlocks .content > div p{
        position: relative;
        line-height: 30px;
        font-weight: 300;
    }
    .fourBlocks .content > div:nth-child(4){
        background-image: url('img/lang.jpg');
    }
    .fourBlocks .content > div:nth-child(4):before{
        content: '';
        position: absolute;
        right: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
        background-color: rgba(0,169,181, 0.7);
        z-index: 1;
    }
    .fourBlocks .content > div:nth-child(4) h2, .fourBlocks .content > div:nth-child(4) p{
        color: white;
        z-index: 2;
    }

    .clickToForm{
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        text-align: center;
        color: white;
        padding: 10px 50px;
        text-transform: uppercase;
        background-color: #5bd700;
        text-decoration: none;
        margin-top: 20px;
        display: inline-block;
        font-weight: 700;
    }
    .clickToForm:hover{
        background-color: white;
        color: #5bd700;
        cursor: pointer;
    }

    .hoverBlock {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        width: 85%;
        left: 7.5%;
        text-align: center;
        color: white;
        opacity: 0;
    }
    .triangleblock .content{
        max-width: 2000px;
    }
    .triangleblock .content > div:hover .hoverBlock{
        opacity: 1;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        z-index: 2;
    }
    .triangleblock .content > div:hover:after{
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background: url('img/stock1.jpg') no-repeat center center;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        z-index: 1;
    }
    .triangleblock .content > div:hover:nth-child(2):after{
        background: url('img/stock2.jpg') no-repeat center center !important;
    }
    .triangleblock .content > div:hover:nth-child(3):after{
        background: url('img/stock3.jpg') no-repeat center center !important;
    }
    .triangleblock .content > div:hover img{
        opacity: 0;
        z-index: -1;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    
.buttomBlock img:hover{
    cursor: pointer;
}
    .fourBlocks .clickToForm{
        margin-bottom: 20px;
    }
	
	form {
	    max-width: 430px;
	    margin: 50px auto;
        padding: 0px 20px;
	}
    form h2{
        font-size: 30px;
        margin-bottom: 40px;
        color: white;
        text-transform: uppercase;
        font-weight: 400;
    }
    form h2 span{
        font-weight: bold;
        font-size: 42px;
    }
	
	.button_click {
	    background: rgba(91, 215, 0, 1); !important;
        padding: 10px;
        font-weight: 400;
        border: 0px solid rgba(255, 255, 255, 1);
        text-transform: uppercase;
        outline: none;
        -webkit-appearance: none;
        margin-bottom: 0px;
        width: 150px;
        font-size: 20px;
        text-align: center;
        /* float: left; */
        display: block;
	}
	
	.button_click:disabled {
	    background: rgba(91, 215, 0, 0.5); !important;
	}
	
	.button_click:hover {
	    cursor: pointer;
	}
	
	form input,
	form textarea {
	    width: 100%;
        margin-bottom: 20px;
        padding: 10px;
        padding-left: 20px;
        background: none;
        color: white;
        border: 0px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        background-color: rgba(255,255,255,0.3);
        text-align: left;
        font-size: 16px;
        outline: none;
        -webkit-appearance: none;
        resize: none;
        font-family: 'Open Sans';
        position: relative;
	}
    .required-field{
        -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
        overflow: hidden;
        position: relative;
    }
    .required-field:after{
        position: absolute;
        top: -15px;
        right: -15px;
        display: block;
        width: 30px;
        height: 30px;
        background: #f68500;
        content: "";
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
	
	input:-webkit-autofill,
	textarea:-webkit-autofill,
	select:-webkit-autofill {
	    background-color: rgba(255, 255, 255, 0) !important;
	    background-image: none;
	    color: rgb(0, 0, 0);
	}
	
	textarea {
	    min-height: 50px;
    }
	
	.countTextatea {
	    display: block;
	    margin-top: -50px;
	    margin-bottom: 40px;
	}
	
	.textareaMes {
	    position: relative;
        margin-bottom: 90px;
	}
	
	.textareaMes p,
	.textareaMes ul li {
	    color: rgba(255, 255, 255, 0.6);
	    font-size: 20px;
        text-align: left;
	}
    .textareaMes p{
        padding: 10px;
    }
    .textareaMes ul{
        width: 100%;
        margin: 0 auto;
        padding: 10px;
        padding-top: 0px;
    }
    .textareaMes ul li {
            text-align: left;
        list-style-type: none;
        font-weight: 400;
    }
	
	.afterContact {
	    /*display: none;*/
	    width: 100%;
	    left: 0px;
	    top: 0px;
	    background-image: url('http://outsoft.com//wp-content/themes/jarvis_wp/landing-page/GlobalMobileGamesMarketOutlook2015-2018/img/bg_2.jpg');
	    overflow-y: auto;
        height: 100%;
	}
	
	.afterContactReletive {
	    position: relative;
	    height: 100%;
	}
	
	.afterContactReletive:before {
	    content: '';
	    position: absolute;
	    left: 0px;
	    top: 0px;
	    width: 100%;
	    height: 100%;
	    background: rgba(54, 54, 54, 0.95);
	}
	
	.title {
	    text-align: center;
	}
	
	.title h1 {
	    margin: 50px auto;
	    line-height: 1;
	    display: inline-block;
	    padding: 10px;
	    background: #f79c00;
	    color: #fff;
	    position: relative;
	    text-transform: uppercase;
	    font-family: 'BebasNeueRegular';
	    font-size: 50px;
	}
	
	.title h1:before {
	    content: '';
	    position: absolute;
	    top: -10px;
	    bottom: -10px;
	    left: -10px;
	    right: -10px;
	    border: 5px solid #f79c00;
	}
	
	.fancy-header h2 {
	    text-align: center;
	    font-family: 'Open Sans';
	    color: white;
	    width: 50%;
	    margin: 0 auto;
	    margin-bottom: 50px;
	    padding-top: 50px;
	    position: relative;
	}
	
	.soc {
	    width: 340px;
	    margin: 85px auto;
	    position: relative;
	}
	/*.soc:before {
	    content: '';
	    position: absolute;
	    left: 0px;
	    top: 0px;
	    width: 100%;
	    height: 100%;
	    background: rgba(54, 54, 54, 0.95);
	}*/
	
	.soc > div {
	    float: left !important;
	    width: 100% !important;
	    margin-left: 1.5% !important;
	    margin-right: 1.5% !important;
	    position: relative;
	}
	
	.fb_iframe_widget span,
	.fb_iframe_widget iframe,
	#u_0_0 > div {
	    width: 100% !important;
	}
	
	._2p3a {
	    width: 100% !important;
	}
	
	#filters {
	    margin: 0;
	    list-style: none;
	    padding: 0;
	    text-align: center;
	    text-transform: uppercase;
	    clear: both;
	    padding-bottom: 19px;
	    position: relative;
	}
	
	#filters li {
	    display: inline-block;
	    position: relative;
	}
	
	#filters li a {
	    display: block;
	    float: left;
	    padding: 2px 5px;
	    color: inherit;
	    margin-right: 5px;
	    margin-bottom: 5px;
	    font-weight: bold;
	    text-decoration: none;
	    color: white;
	    font-family: 'Open Sans';
	}
	
	#filters li a h3 {
	    font-size: 18px;
	    padding: 2px 6px 0px;
	    border: 2px solid white;
	}
	
	#filters li a:hover h3,
	#filters li a.active h3 {
	    color: #f79c00;
	    border-color: #f79c00;
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    -o-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
	}
	
	#portfolio-wrap {
	    clear: both;
	}
	
	.after_contact {
	    position: fixed;
	    z-index: 6669999998 !important;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background: rgba(0,169,181, 0.7) url(http://outsoft.com/wp-content/themes/jarvis_wp/images/ball-triangle.svg) center center no-repeat;
	    background-size: 70px;
	    display: none;
	}
	
	#portfolio-wrap > div {
	    width: 20%;
	    float: left;
	}
	
	#portfolio-wrap {
	    position: relative;
	    padding: 0;
	    width: 100%;
	    margin: 0 auto;
	    display: block;
	}
	
	#portfolio-wrap .portfolio-item {
	    margin: 0;
	    padding: 0;
	    line-height: 0;
	    z-index: 5;
	}
	
	#portfolio-wrap.grid-portfolio .portfolio-item {
	    margin: 10px;
	    padding: 0;
	    margin-bottom: 15px;
	}
	
	.portfolio-item.current {
	    box-shadow: 0 0px 0px 10px rgba(255, 255, 255, 0.37);
	    z-index: 101 !important;
	}
	
	.portfolio-item {
	    padding: 0;
	    position: relative;
	    overflow: hidden;
	}
	
	.portfolio-item .portfolio-image {
	    overflow: hidden;
	    display: block;
	    position: relative;
	}
	
	.portfolio-item .portfolio-image img {
	    max-width: 100%;
	    height: auto;
	}
	
	.portfolio .portfolio-overlay {
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    position: absolute;
	    display: block;
	    z-index: 4;
	    opacity: 0;
	    -moz-opacity: 0;
	    filter: alpha(opacity=0);
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    -o-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
	    background: #000000;
	    background: rgba(0, 0, 0, 0.8);
	}
	
	.portfolio > a,
	.portfolio > a:hover {
	    color: #ffffff;
	}
	
	.portfolio-item .portfolio > a:hover > .portfolio-overlay {
	    opacity: 1;
	    -moz-opacity: 1;
	    filter: alpha(opacity=100);
	}
	
	.portfolio > a img {
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    -o-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
	}
	
	.portfolio > a:hover img {
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    -o-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
	}
	
	.portfolio .thumb-info {
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    opacity: 0;
	    -moz-opacity: 0;
	    filter: alpha(opacity=0);
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    -o-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
	}
	
	.portfolio a:hover .portfolio-overlay .thumb-info {
	    opacity: 1;
	    -moz-opacity: 1;
	    filter: alpha(opacity=100);
	}
	
	.portfolio-overlay .thumb-info h3 {
	    top: 38%;
	    font-size: 22px;
	    line-height: 1.1;
	}
	
	.portfolio-overlay .thumb-info p {
	    top: 59%;
	    font-size: 10px;
	    line-height: 1.3;
	    text-transform: uppercase;
	}
	
	.portfolio-overlay .thumb-info h3 {
	    color: #ffffff;
	    width: 96%;
	    position: absolute;
	    text-align: center;
	    padding: 0 2%;
	    font-family: 'Open Sans';
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;
	}
	
	.portfolio-overlay .thumb-info p {
	    color: #ffffff;
	    width: 96%;
	    position: absolute;
	    text-align: center;
	    font-weight: bold;
	    padding: 0 2%;
	    font-family: 'Open Sans';
	}
	
	.portfolio-overlay .thumb-info i {
	    color: #ffffff;
	    width: 100%;
	    position: absolute;
	    text-align: center;
	    display: block;
	}
	
	.portfolio > a:hover img {
	    -moz-transform: scale(1.2);
	    -webkit-transform: scale(1.2);
	    -o-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	    transform: scale(1.2);
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    -o-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
	}
	
	.portfolio a:hover .portfolio-overlay .thumb-info {
	    opacity: 1;
	    -moz-opacity: 1;
	    filter: alpha(opacity=100);
	    -webkit-transform: scale(1);
	    -moz-transform: scale(1);
	    -o-transform: scale(1);
	    -ms-transform: scale(1);
	    transform: scale(1);
	}
	/*Responsive*/
	
	@media screen and (min-width:1400px) and (max-height: 800px) {
	    header .content {
	        width: 80%;
	    }
	    header .content .text-block h1,
	    header .content .text-block h2 {
	        font-size: 40px;
	    }
	    .spanScroll {
	        font-size: 20px;
	        bottom: 150px;
	    }
	    .button {
	        transform: translateX(-50%) scale(0.7);
	        -moz-transform: translateX(-50%) scale(0.7);
	        -o-transform: translateX(-50%) scale(0.7);
	        -webkit-transform: translateX(-50%) scale(0.7);
	        -ms-transform: translateX(-50%) scale(0.7);
	        bottom: 10px;
	    }
	    .tap-our h2,
	    .third-block h2 {
	        font-size: 40px;
	        line-height: 50px;
	    }
	}
	
	@media screen and (max-width:1400px) {
	    header .content {
	        width: 80%;
	    }
	    header .content .text-block h2,
	    header .content .text-block h1 {
	        font-size: 35px;
	    }
	    .text-content {
	        font-size: 25px !important;
	    }
	    footer p {
	        font-size: 25px;
	    }
	    form input,
	    form textarea {
	        margin-bottom: 25px;
	    }
	    .triangle-color img,
	    .portfolio-tags {
	        display: none;
	    }
	    .portfolio-overlay .thumb-info h3 {
	        font-size: 15px;
	    }
	    .fb_iframe_widget,
	    .fb_iframe_widget span,
	    .fb_iframe_widget span iframe[style] {
	        width: 100% !important;
	    }
	}
    @media screen and (max-width:1200px) {
        form h2, .buttomBlock h1, .triangleblock .content > div h2{
            font-size: 20px;
        }
        form h2 span, .buttomBlock h1 span, .triangleblock .content > div:nth-child(1):before, .triangleblock .content > div:nth-child(2):before, .triangleblock .content > div:nth-child(3):before{
            font-size: 25px;
        }
        .fourBlocks .content > div{
            padding: 50px;
        }
        .triangleblock .content > div img, .imgOverlay{
            width: 240px;
        }
        .triangleblock .content > div{
            height: 425px;
        }
        .triangleblock .content > div .imgOverlay:before{
            font-size: 30px !important;
        }
        .triangleblock .content > div h2{
            padding-left: 65px;
        }
    }
	@media screen and (max-width:1030px) {
        .logo{
            width: 180px;
        }
	}
	
	@media screen and (max-width:960px) {
	    .soc {
	        width: 100%;
	        padding: 20px;
	        overflow: hidden;
            margin: 0px auto;
	    }
	    .soc > div {
	        float: none !important;
	        width: 100% !important;
	        margin: 20px auto !important;
	        max-width: 400px;
	        display: block !important;
	        overflow: hidden;
	    }
	    #u_0_0 > div {
	        width: 100% !important;
	    }
	    #filters:before,
	    #portfolio-wrap:before {
	        content: '';
	        position: absolute;
	        left: 0px;
	        top: 0px;
	        width: 100%;
	        height: 100%;
	        background: rgba(54, 54, 54, 0.95);
	    }
	    #portfolio-wrap > div {
	        width: 33.33%;
	    }
	    .fb_iframe_widget,
	    .fb_iframe_widget span,
	    .fb_iframe_widget span iframe[style] {
	        width: auto !important;
	        display: block;
	        margin: 20px auto !important;
	        width: 340px !important;
	        position: relative;
	        text-align: center;
	    }
	    .soc > div iframe {
	        margin: 0 auto !important;
	        display: block;
	    }
	}
@media screen and (max-width:870px) {
    .circleblock{
        display: none;
    }
}
	@media screen and (max-width:768px) {
	    form h2, .buttomBlock h1, .triangleblock .content > div h2{
            font-size: 15px;
        }
        form h2 span, .buttomBlock h1 span, .triangleblock .content > div:nth-child(1):before, .triangleblock .content > div:nth-child(2):before, .triangleblock .content > div:nth-child(3):before{
            font-size: 20px;
        }
        .buttomBlock h1 + img{
            width: 100px;
        }
        .triangleblock .content > div img {
            width: 240px;
            margin: 20px auto;
            display: block;
        }
        .triangleblock .content > div{
            width: 100%;
            height: auto;
        }
        .triangleblock .content > div h2{
            font-size: 20px;
                top: 50%;
        }
	}
	
	@media screen and (max-width: 650px) and (orientation: landscape) {
	    .spanScroll {
	        bottom: 20px;
	        font-size: 15px;
	    }
	    header .content .text-block h2,
	    header .content .text-block h1 {
	        font-size: 18px;
	    }
	    .tap-our h2,
	    .third-block h2 {
	        font-size: 20px;
	        line-height: 25px;
	    }
	    footer img.outsoft_logo_footer {
	        max-width: 100px;
	    }
	    header .content .text-block h2,
	    header .content .text-block h1 {
	        font-size: 15px !important;
	    }
	}
	
	@media screen and (max-width:650px) {
        .fourBlocks .content > div:nth-child(1){
            display: none;
        }
        .fourBlocks .content > div {
            padding: 25px;
            width: 100%;
        }
	    header .content .text-block h2,
	    header .content .text-block h1 {
	        font-size: 30px;
	    }
	    .text-content {
	        font-size: 25px !important;
	    }
	    footer p {
	        font-size: 18px;
	    }
	    form input,
	    form textarea {
	        margin-bottom: 25px !important;
	    }
	    .button, .circleblock {
	        display: none;
	    }
	    header .content {
	        width: 95%;
	        padding: 10px;
	    }
	    form input,
	    form textarea {
	        width: 100%;
	        margin-bottom: 50px;
	        font-size: 18px;
	    }
	    footer {
	        padding-top: 50px;
	    }
	    footer img.outsoft_logo_footer {
	        padding-bottom: 20px;
	    }
        
        header .content > div, header .content + .content{
            width: 100%;
            position: relative;
            height: auto !important;
            z-index: 2;
        }
        .buttomBlock {
            position: relative;
            width: 100%;
            color: white;
            bottom: 40px;
            margin-top: 100px;
        }
        form h2, .buttomBlock h1{
            font-size: 20px;
        }
        form h2 span, .buttomBlock h1 span{
            font-size: 25px;
        }
        header .content + .content {
            position: relative;
            top: 0%;
            left: 0%;
            transform: translate(0%, 0%);
            -moz-transform:translate(0%, 0%);
            -o-transform: translate(0%, 0%);
            -webkit-transform: translate(0%, 0%);
            -ms-transform: translate(0%, 0%);
            z-index: 2;
        }
        html, body, header {
            height: auto;
        }
        header:after{
            width: 100%;
        }
        .logo {
            width: 180px;
            z-index: 2;
            position: relative;
        }
	}
	
	@media screen and (max-width:480px) {
	    footer {
	        padding: 20px;
	    }
	    .second-block img,
	    .triangle-block img,
	    {
	        width: 40%;
	    }
	    .spanScroll {
	        bottom: 50px;
	        font-size: 15px;
	    }
	    .tap-our h2,
	    .third-block h2 {
	        font-size: 25px;
	        line-height: 30px;
	    }
	    footer img.outsoft_logo_footer {
	        max-width: 100px;
	    }
        .hoverBlock p{
            line-height: 15px;
            font-size: 12px;
        }
	}